In [145]:
import json
import pandas as pd

In [14]:
from data import jsonl_to_csv

In [15]:
jsonl_to_csv('data/list_2021-05_2022-04_3000-per-month.jsonl', 'data/list_2021-05_2022-04_3000-per-month.csv')

In [16]:
df = pd.read_csv('data/list_2021-05_2022-04_3000-per-month.csv')
df.head()

     month        uid audience_name  yc_gift_value
0  2021-05   54380383         抹茶不要绿      8009692.1
1  2021-05  176301855        洁洁啊最可爱      4372522.9
2  2021-05     275127     GawainRen      3888749.7
3  2021-05   15747378        小爷我就这样      3460898.8
4  2021-05   89326176        藏拙当成玉丶      3294579.5

In [17]:
uids = set(df['uid'])
uids

{18939904,
 443940866,
 415694852,
 53411845,
 122224654,
 416743438,
 16,
 357597202,
 72515603,
 11796509,
 258113567,
 30146592,
 622623,
 447021088,
 402260012,
 1409070,
 400556082,
 421396531,
 440827956,
 187203640,
 132284472,
 332595256,
 342687807,
 418250816,
 402686017,
 374767684,
 142999621,
 433061958,
 12189765,
 175898696,
 347275337,
 415891536,
 171868242,
 329711700,
 34963543,
 50233431,
 109346905,
 231211098,
 336592988,
 342392924,
 6455388,
 195264607,
 331579488,
 389709921,
 341770335,
 421757027,
 259063910,
 429228135,
 445579367,
 8880234,
 352125034,
 417169515,
 408977517,
 413991021,
 80543852,
 251035754,
 337346672,
 384303218,
 1966193,
 421396601,
 422183033,
 6815872,
 15532161,
 419430530,
 917636,
 409993349,
 14975110,
 181338249,
 11567243,
 331022476,
 274759822,
 71401617,
 446365844,
 420249749,
 258146454,
 390004891,
 357695644,
 331415712,
 22708388,
 6357157,
 432308390,
 420085927,
 2359466,
 213352622,
 269058224,
 375586993,
 220299442,
 395116723,
 198705332,
 153714867,
 418119863,
 183959740,
 18022588,
 209879228,
 177766592,
 345833665,
 160530625,
 419332289,
 27558083,
 352354499,
 256704710,
 188383434,
 408223949,
 45875406,
 431751373,
 92733648,
 444891345,
 409305298,
 67207380,
 202670293,
 311427285,
 66978012,
 150962396,
 26706142,
 337903838,
 14123232,
 52068582,
 421527783,
 276824297,
 374669546,
 288620779,
 18940140,
 180420845,
 406290670,
 49283328,
 433291523,
 67469573,
 429588745,
 419397899,
 189399314,
 202178834,
 157876501,
 410714393,
 317128985,
 73629979,
 3014941,
 70287646,
 29688094,
 349765920,
 144048414,
 374047010,
 426934560,
 142410017,
 60883242,
 65437995,
 429556015,
 21594416,
 435159345,
 175178039,
 244613433,
 145326394,
 394232123,
 293634370,
 44499266,
 401441092,
 418873671,
 13336906,
 188154189,
 53150031,
 75628881,
 26214738,
 2261331,
 408650068,
 382009684,
 18907475,
 37749075,
 381321560,
 39289178,
 411730267,
 379912540,
 445481309,
 223609183,
 53674335,
 396493153,
 421658976,
 237502815,
 343802212,
 272236896,
 6193512,
 176947561,
 327876980,
 445317496,
 217088377,
 161907069,
 250577278,
 141394304,
 44695941,
 445907337,
 311984526,
 231702927,
 42467731,
 2326932,
 418808213,
 132383126,
 336495000,
 417956253,
 350224798,
 348914080,
 440500640,
 335020457,
 65274288,
 315556272,
 55378354,
 277578165,
 408912310,
 9863608,
 374505918,
 173441471,
 232587714,
 207749577,
 310018506,
 427721161,
 47612363,
 23003597,
 324469197,
 417857998,
 436109772,
 257163730,
 9273811,
 45318614,
 257622486,
 411206109,
 410616286,
 66421217,
 426377700,
 245957095,
 52036073,
 261194218,
 405701099,
 427065839,
 3080690,
 118063603,
 6095348,
 216596981,
 9994741,
 294126071,
 374079992,
 398295544,
 334922234,
 208798205,
 11862527,
 6324735,
 378012159,
 423461378,
 15204867,
 389349892,
 331579906,
 257917445,
 434209287,
 183730696,
 12747274,
 368935445,
 2818584,
 10748441,
 346653212,
 343114270,
 37716512,
 441090594,
 21266979,
 437060130,
 316047909,
 378503722,
 172130858,
 363987499,
 14778922,
 356909614,
 224461360,
 412975665,
 79823410,
 38044211,
 98566708,
 317850165,
 3015219,
 253526576,
 18448952,
 145261115,
 63242812,
 12649024,
 230851136,
 99287618,
 332300869,
 17859145,
 413925962,
 249528906,
 329253452,
 17302089,
 19300946,
 71434834,
 332202583,
 79856215,
 374342233,
 12124761,
 18973272,
 340165215,
 89326176,
 165315168,
 72876639,
 268829282,
 10715749,
 415072870,
 411927143,
 382108264,
 405930601,
 66155,
 2687601,
 14516853,
 412156534,
 33686134,
 4227709,
 590464,
 334594688,
 46006914,
 65372808,
 383287947,
 16220814,
 411697812,
 9699991,
 109413020,
 440763036,
 19006112,
 427754150,
 19890855,
 24380072,
 421757609,
 411009707,
 15893166,
 74678962,
 66227,
 46367413,
 444727989,
 5276343,
 379912888,
 401113785,
 139788986,
 47514300,
 46072510,
 300188351,
 199525056,
 191660739,
 301793989,
 14222021,
 178848454,
 62096072,
 429195977,
 411108043,
 333054667,
 426377931,
 414581454,
 66912976,
 45220564,
 216466132,
 109282006,
 412451542,
 4129503,
 382862048,
 406291173,
 174457575,
 441778920,
 420283116,
 85983981,
 409076465,
 185467634,
 68420339,
 249692919,
 2360059,
 326271742,
 18023167,
 24085246,
 318178047,
 243172098,
 2556679,
 379683594,
 329515786,
 46891792,
 430080785,
 234554130,
 352781074,
 5473043,
 53773077,
 38634258,
 420709143,
 168362771,
 433128218,
 412943134,
 414516002,
 396133154,
 417694498,
 109249318,
 347603751,
 414122799,
 4391728,
 34931506,
 415007539,
 334988086,
 383517495,
 124355384,
 427688761,
 421528378,
 123798329,
 431784768,
 329188163,
 384729926,
 332268358,
 418218825,
 277906251,
 12223308,
 126223179,
 419234636,
 415433551,
 37290832,
 375882571,
 47940434,
 1213267,
 46564174,
 334332758,
 377389911,
 410911578,
 213451611,
 364348251,
 3474269,
 433226591,
 316769121,
 399508322,
 102204259,
 16974689,
 184386403,
 194839398,
 434209633,
 412975976,
 11993961,
 217088870,
 409633644,
 101647213,
 11993965,
 97682284,
 8127344,
 138216307,
 433423223,
 336102264,
 72090489,
 21693306,
 76284794,
 432866170,
 107152257,
 148931457,
 335283077,
 421036941,
 411042702,
 235242381,
 440075152,
 418874264,
 318473113,
 14091163,
 425034652,
 5800861,
 224953248,
 58819490,
 394101667,
 163316648,
 427230127,
 430408624,
 419857329,
 408552370,
 179307442,
 26313652,
 397083571,
 165413816,
 109708217,
 65209274,
 314475450,
 3703742,
 174949311,
 410158016,
 438469572,
 20415430,
 429720518,
 19203016,
 428311496,
 441222092,
 434209748,
 407700438,
 412353494,
 5243866,
 44336091,
 213222370,
 54723557,
 420709350,
 409863142,
 410977256,
 380503017,
 4686824,
 413205483,
 410551276,
 397345773,
 79135721,
 184091632,
 66487282,
 139494387,
 295764981,
 340165624,
 277742586,
 443909120,
 339215361,
 420152321,
 17171459,
 441254914,
 396985354,
 329745422,
 17007631,
 48202772,
 222790677,
 192152601,
 96011289,
 145458201,
 151684122,
 385811492,
 395379751,
 263324713,
 379978798,
 391971887,
 47973422,
 423167025,
 39715890,
 18744373,
 424117303,
 22578235,
 433685563,
 168821821,
 14943293,
 222266431,
 69403712,
 394101829,
 296005,
 374244422,
 416023625,
 369263690,
 167478347,
 184747084,
 422347851,
 40469580,
 9143373,
 398328912,
 12190800,
 84083799,
 206832727,
 36209753,
 138904665,
 351339611,
 395707483,
 330040415,
 295306336,
 173638751,
 442664035,
 429163620,
 409273447,
 295601258,
 21529711,
 39126128,
 426509426,
 424117364,
 221807735,
 191988857,
 23626873,
 410944636,
 4293758,
 368051331,
 27591812,
 264307849,
 1967244,
 14779537,
 332137618,
 412222611,
 2131095,
 1475739,
 404784284,
 388334749,
 435881121,
 125633698,
 253559974,
 444073126,
 274793640,
 435618985,
 189629607,
 315786412,
 440730796,
 5342382,
 267191471,
 6161583,
 29721777,
 426607793,
 43434731,
 1901748,
 408519861,
 329254069,
 104957111,
 348521656,
 375063736,
 256541886,
 341247169,
 433456321,
 10486979,
 391611589,
 410125510,
 362742981,
 177308870,
 349603016,
 190481605,
 217711830,
 256738518,
 5309654,
 330073305,
 132089050,
 411567323,
 440763613,
 187565280,
 446989536,
 397116644,
 344360165,
 431686886,
 335906021,
 36078825,
 339313897,
 255067371,
 118097137,
 446760178,
 49644789,
 415106293,
 415794431,
 438863104,
 30967039,
 388924674,
 305693954,
 409699592,
 68814090,
 410617099,
 12289291,
 184517904,
 41420049,
 11156846,
 220628243,
 317850900,
 24675605,
 417301783,
 39257369,
 204604697,
 60851483,
 355206425,
 13829405,
 27428126,
 287835425,
 42992930,
 433915174,
 443942185,
 433521962,
 251823404,
 39060781,
 14320948,
 176588084,
 12551480,
 434701629,
 25101631,
 208438592,
 220005697,
 410355010,
 417596738,
 2983237,
 141591878,
 68126022,
 400000327,
 12387658,
 213157196,
 9700684,
 295667023,
 421201231,
 394790225,
 31884635,
 225609052,
 418055515,
 11699569,
 185894263,
 64030072,
 4687223,
 440567159,
 400622971,
 433194364,
 398165371,
 361661824,
 400295301,
 400295302,
 74319249,
 418743697,
 402916755,
 215582102,
 215614871,
 204604825,
 125568410,
 108758428,
 274761118,
 48989599,
 25167263,
 432309662,
 135857567,
 199558565,
 415172005,
 204604838,
 434701738,
 14976432,
 591283,
 413107637,
 395675062,
 429786549,
 318342584,
 4228539,
 204604860,
 409732541,
 140477885,
 409372096,
 402326976,
 144836032,
 204604867,
 365987268,
 252380616,
 25691596,
 6325710,
 55674318,
 346916302,
 240551374,
 14386643,
 380700116,
 19957206,
 44369368,
 72058333,
 286524896,
 417826275,
 116458982,
 364774890,
 10552816,
 333940208,
 2950649,
 116164089,
 415794681,
 395740668,
 420021757,
 9373178,
 235439615,
 427394555,
 13141500,
 439813631,
 415729156,
 210273798,
 187106823,
 429688326,
 434734598,
 432375304,
 409241101,
 144606734,
 421594638,
 431982098,
 95290899,
 431654419,
 440600085,
 396461588,
 95815191,
 443483672,
 408585756,
 186844700,
 348161567,
 36898340,
 355141162,
 34349,
 656941,
 257754672,
 429262384,
 88737331,
 167872052,
 34375225,
 152110651,
 40764991,
 400295488,
 31852096,
 43058754,
 203294277,
 75630151,
 418580040,
 444663372,
 417891917,
 372442701,
 36505168,
 41387602,
 407864914,
 22447699,
 6653524,
 325879380,
 390137432,
 406062692,
 14845541,
 44074602,
 14681708,
 31753837,
 408028781,
 342328943,
 429262448,
 384173681,
 20907634,
 96863860,
 418547317,
 141854324,
 427165303,
 9864831,
 389973631,
 395806337,
 434931327,
 49153670,
 415925897,
 75892364,
 409929358,
 114689681,
 417105558,
 427132567,
 48301720,
 415041177,
 423069338,
 416908957,
 403572386,
 180356772,
 424183462,
 219023017,
 75695786,
 214173354,
 418383532,
 54691501,
 419759787,
 263554735,
 4654767,
 415434420,
 327354036,
 45516470,
 412354239,
 1728,
 412387011,
 433391299,
 407963335,
 443221706,
 374376139,
 211912401,
 417498836,
 141362901,
 14550742,
 413599447,
 351799000,
 29427417,
 429098714,
 57935580,
 226264796,
 328926941,
 364054239,
 176883425,
 325125858,
 432277220,
 446826213,
 27625191,
 408553194,
 139495146,
 138053359,
 298944239,
 45516527,
 433850097,
 431163125,
 428017398,
 434603772,
 395609854,
 442959616,
 335644417,
 10815234,
 409863939,
 108791555,
 346687237,
 410486534,
 427755270,
 71829256,
 306906890,
 415532811,
 445482766,
 199198479,
 34539281,
 195823378,
 72976147,
 215811864,
 279480090,
 388564762,
 398165793,
 420382501,
 368576294,
 14190375,
 107775786,
 333645612,
 366675757,
 408880942,
 47286063,
 52299564,
 13272881,
 425101101,
 367855405,
 276072247,
 211289914,
 298518332,
 39028541,
 44435262,
 421562177,
 441845572,
 44861254,
 30967624,
 432932681,
 133465930,
 309430092,
 432932685,
 156403534,
 6686543,
 316737356,
 384993104,
 56985426,
 98338644,
 43222875,
 433424220,
 431687516,
 328730459,
 297273188,
 389973861,
 429066088,
 354256746,
 224855915,
 439584622,
 96962415,
 422381424,
 34211708,
 146704255,
 208570243,
 35915653,
 135268231,
 62818189,
 34965391,
 428345236,
 225183637,
 446334872,
 396986267,
 191727516,
 23562143,
 357304225,
 328796066,
 42207138,
 52594597,
 408651686,
 428410790,
 375162794,
 14387119,
 202180528,
 427952048,
 11012018,
 256837553,
 432867260,
 3639229,
 416090045,
 444073917,
 388564931,
 50989003,
 421300173,
 409110481,
 423987154,
 429524946,
 211716052,
 257787863,
 308840407,
 399738843,
 57051099,
 2918365,
 23791579,
 10815451,
 400492515,
 41060324,
 43943911,
 194611177,
 383223788,
 381814770,
 409667570,
 180815858,
 9177077,
 19564538,
 241043451,
 2164731,
 440305661,
 76220415,
 334530560,
 176523266,
 405669890,
 328402947,
 356452354,
 196642824,
 100632585,
 415270920,
 2000906,
 ...}

In [18]:
len(uids)

15726

In [19]:
total_value_df = pd.DataFrame(columns=['uid', 'total_yc_gift_value'])

for uid in uids:
    v = pd.DataFrame.sum(df[df['uid'] == uid]['yc_gift_value'])
    total_value_df.loc[len(total_value_df.index)] = [uid, v]

total_value_df

               uid  total_yc_gift_value
0       18939904.0              42480.2
1      443940866.0              31368.6
2      415694852.0             143818.3
3       53411845.0             304429.5
4      122224654.0             230113.1
...            ...                  ...
15721   73891824.0              37781.2
15722  146735091.0              60813.3
15723  337379321.0              96581.1
15724   17104890.0             164193.2
15725   89063420.0              65473.2

[15726 rows x 2 columns]

In [20]:
sorted_total = pd.DataFrame.sort_values(total_value_df, by=['total_yc_gift_value'], ascending=False)

In [21]:
top350 = sorted_total.iloc[:350]
top350

               uid  total_yc_gift_value
15404  419265882.0           33796239.1
8018   198590580.0           27013757.7
2366    50893683.0           23710060.3
6876   400242518.0           23474549.3
4146   411640147.0           17833549.9
...            ...                  ...
8569   422823138.0            2006007.3
11743  331603818.0            2005098.3
12065   43082295.0            1998864.2
15250   18709526.0            1990865.6
6293    39203516.0            1985296.1

[350 rows x 2 columns]

In [45]:
top1000 = sorted_total.iloc[:1000]
top1000

               uid  total_yc_gift_value
15404  419265882.0           33796239.1
8018   198590580.0           27013757.7
2366    50893683.0           23710060.3
6876   400242518.0           23474549.3
4146   411640147.0           17833549.9
...            ...                  ...
4658   410592657.0             919879.1
9748    18599631.0             917861.0
13791  405532696.0             917018.8
4165    72687999.0             916674.3
14740   74708960.0             915961.4

[1000 rows x 2 columns]

In [22]:
top100_audience_list_str = pd.Series.to_string(top350['uid'].astype(int), index=False)
with open('data/top350_audience_2021-05_2022-04.txt', 'w', encoding='utf-8') as f:
    for uid in top100_audience_list_str.split():
        uid = uid.strip()
        f.write(uid + '\n')

In [115]:
df = pd.DataFrame(columns=[
    'uid',
    'date',
    'level',
    # 'danmu_count',
    'yc_gift_value',
    'visit_count',
])
df
# df.to_excel('data/detail_400_audiences_2022-01-01_2022-06-15.xlsx')

Empty DataFrame
Columns: [uid, date, level, yc_gift_value, visit_count]
Index: []

In [116]:
data_path = 'data/detail_350_audiences_2022-01-01_2022-06-15.jsonl'
test_path = 'data/testdata.jsonl'

with open(data_path, 'r', encoding='utf-8') as fin:
    for i, line in enumerate(fin):
        item = json.loads(line)
        if item['hasData']:
            df = df.append(
                [{
                    'uid': item['uid'],
                    'date': item['date'],
                    'level': item['level'],
                    'visit_count': float(item['totalItemVo']['visitCount']),
                    'yc_gift_value': float(item['totalItemVo']['yc_gift_value'])
                }])
        else:
            df = df.append(
                [{
                    'uid': item['uid'],
                    'date': item['date'],
                    'level': item['level'],
                    'visit_count': 0.0,
                    'yc_gift_value': 0.0
                }])

In [126]:
df.tail()

        uid        date level  yc_gift_value  visit_count
0  39203516  2022-06-11   146           13.5         10.0
0  39203516  2022-06-12   146          859.5         24.0
0  39203516  2022-06-13   146         5352.5         19.0
0  39203516  2022-06-14   146         1066.5         28.0
0  39203516  2022-06-15   146         5800.5         13.0

In [118]:
uids = list(set(df['uid']))
uids

[252225541,
 414513159,
 50868234,
 15579152,
 5306386,
 6352959,
 387641411,
 32303192,
 397238362,
 147890267,
 336824418,
 388851812,
 198590580,
 21586042,
 10131582,
 220215424,
 414513290,
 57491594,
 18630795,
 411224208,
 20584601,
 431442100,
 40349877,
 389460151,
 264366275,
 352354499,
 409587923,
 207655125,
 402266330,
 39358696,
 148969707,
 336027892,
 214520059,
 376191229,
 381479166,
 403257601,
 419571969,
 178264323,
 255420677,
 14072074,
 113719568,
 409319707,
 188700962,
 94458152,
 49500458,
 196946220,
 4233516,
 15747378,
 378081589,
 66007354,
 48587070,
 357558595,
 13384005,
 11329873,
 411640147,
 2261331,
 48513366,
 50784602,
 21010781,
 199956844,
 413282671,
 348791169,
 59232645,
 61528457,
 105685390,
 99205520,
 31244694,
 13179293,
 45234591,
 418929058,
 1935782,
 335020457,
 60619179,
 166762928,
 210702783,
 40153538,
 207749577,
 5446091,
 145246669,
 383195601,
 427936211,
 17621466,
 11268571,
 379298282,
 366748144,
 24781306,
 53725695,
 4567558,
 374467078,
 183730696,
 249254428,
 414507551,
 434231846,
 19692074,
 304230964,
 412351028,
 43082295,
 408232506,
 154292808,
 89326176,
 432501353,
 395455094,
 52937338,
 34376318,
 73681540,
 107336324,
 325270152,
 22340234,
 144214669,
 340509327,
 51059351,
 160131737,
 403716764,
 195445405,
 410598052,
 418230957,
 194757295,
 17584822,
 275127,
 39203516,
 232473277,
 46072510,
 444070590,
 396962506,
 411108043,
 211102412,
 431549135,
 389141201,
 235102934,
 2800343,
 44522201,
 167520991,
 227125983,
 96393954,
 427791077,
 275792617,
 119425800,
 414145309,
 147929886,
 258399006,
 347882276,
 400386858,
 233356077,
 365595442,
 415007539,
 244036407,
 124355384,
 72893248,
 28310339,
 389688135,
 25877323,
 280238923,
 36922190,
 247229274,
 12053340,
 422847328,
 182637413,
 64736106,
 50893683,
 310850424,
 417123201,
 417151885,
 2309007,
 398306199,
 427395991,
 428239769,
 417102751,
 401714080,
 184028068,
 333495207,
 69804975,
 60978098,
 16184251,
 409799614,
 392471500,
 180851662,
 232791008,
 320662497,
 185848803,
 365132783,
 92369908,
 426492926,
 423302143,
 72710,
 320621584,
 27995153,
 48202772,
 18709526,
 422874153,
 426783792,
 6310963,
 402465853,
 165014591,
 351730751,
 414233665,
 429790274,
 348628034,
 174879814,
 78900309,
 292906070,
 90289252,
 210707560,
 259263598,
 25042040,
 332020868,
 5559447,
 149978290,
 180878558,
 422823138,
 153885927,
 24374505,
 566516,
 76918011,
 348060934,
 394589451,
 20647180,
 183917843,
 204604697,
 199515421,
 329923872,
 70872354,
 394913063,
 389113132,
 225826093,
 380122417,
 408907064,
 169559353,
 194999614,
 176284996,
 419265882,
 378778975,
 348851559,
 423734634,
 178109811,
 219440508,
 177888645,
 35876232,
 53110160,
 204604825,
 390897051,
 274761118,
 402779565,
 289985967,
 323558832,
 53882295,
 880063,
 330030531,
 3177932,
 36462031,
 422804954,
 395613666,
 377288162,
 203179501,
 37707252,
 304170497,
 334290437,
 2905606,
 271033877,
 142360101,
 170681895,
 355141162,
 34349,
 324619824,
 327319089,
 426571318,
 49133114,
 389508676,
 305256011,
 439582288,
 351149649,
 41387602,
 386354769,
 173520470,
 387952222,
 410111587,
 306783845,
 312198759,
 429530729,
 14116465,
 69537404,
 1130108,
 410547838,
 355942012,
 28163712,
 27039366,
 2664076,
 406011536,
 107583141,
 324837041,
 232046291,
 412825300,
 348393179,
 381079262,
 405688032,
 58924769,
 414035694,
 365256430,
 403826420,
 259071742,
 215029534,
 176301855,
 399914792,
 366675757,
 411082556,
 323295042,
 340457287,
 424167243,
 121777995,
 75452242,
 400242518,
 39614296,
 54380383,
 57227111,
 331603818,
 414513004,
 394774381,
 377780093,
 407166848,
 414881668,
 414513032,
 18323341,
 324673426,
 429713299,
 32987026,
 158889880,
 13039512,
 368527260,
 334741405,
 286431140,
 48674725,
 278867878,
 240449447,
 401651628,
 390969261,
 40155061,
 441405366,
 379490235,
 409755580,
 1269694,
 187211712,
 50481088,
 71684036,
 224409542,
 192155599,
 180715483,
 386410462,
 90181601,
 4376546,
 107438064,
 419866622]

In [119]:
len(df)

58100

In [136]:
df2 = pd.DataFrame(columns=['uid', 'level'])
df2['uid'] = uids
df2.set_index('uid', inplace=True)
df2

          level
uid
252225541   NaN
414513159   NaN
50868234    NaN
15579152    NaN
5306386     NaN
...         ...
386410462   NaN
90181601    NaN
4376546     NaN
107438064   NaN
419866622   NaN

[350 rows x 1 columns]

In [137]:
# df[df['uid'] == 357558595]
"""
第 i 周 打赏次数 打赏金额
"""
for uid in uids:
    tmp = df[df['uid'] == uid]
    df2.loc[uid]['level'] = int(tmp.iloc[0]['level'])
    # assert len(tmp) == 166, '{}'.format(uid)
    for i in range(len(tmp) // 7):
        week_df = tmp.iloc[7 * i:7 *(i + 1)]
        week_index = ' week {} ('.format(i) + week_df.iloc[0]['date'] + '_' + week_df.iloc[-1]['date'] + ')'
        df2.loc[uid, 'gift_value' + week_index] = week_df['yc_gift_value'].sum()
        df2.loc[uid, 'gift_times' + week_index] = (week_df['yc_gift_value'] > 0).sum()

D:\Anaconda3\lib\site-packages\pandas\core\series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [138]:
df2

,level,gift_value week 0 (2022-01-01_2022-01-07),gift_times week 0 (2022-01-01_2022-01-07),gift_value week 1 (2022-01-08_2022-01-14),gift_times week 1 (2022-01-08_2022-01-14),gift_value week 2 (2022-01-15_2022-01-21),gift_times week 2 (2022-01-15_2022-01-21),gift_value week 3 (2022-01-22_2022-01-28),gift_times week 3 (2022-01-22_2022-01-28),gift_value week 4 (2022-01-29_2022-02-04),...,gift_value week 18 (2022-05-07_2022-05-13),gift_times week 18 (2022-05-07_2022-05-13),gift_value week 19 (2022-05-14_2022-05-20),gift_times week 19 (2022-05-14_2022-05-20),gift_value week 20 (2022-05-21_2022-05-27),gift_times week 20 (2022-05-21_2022-05-27),gift_value week 21 (2022-05-28_2022-06-03),gift_times week 21 (2022-05-28_2022-06-03),gift_value week 22 (2022-06-04_2022-06-10),gift_times week 22 (2022-06-04_2022-06-10)
uid,,,,,,,,,,,,,,,,,,,,,
252225541,147,92336.7,5.0,92651.1,7.0,129012.3,7.0,84385.2,7.0,27955.1,...,8974.2,6.0,37722.6,7.0,14036.2,7.0,17625.0,6.0,13062.6,5.0
414513159,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50868234,NaN,137633.9,6.0,57188.0,3.0,46288.6,5.0,11414.0,2.0,0.0,...,32213.7,6.0,37339.9,5.0,37717.8,4.0,162806.9,6.0,142406.2,6.0
15579152,NaN,1246.2,3.0,98.3,3.0,9.0,3.0,8.6,3.0,0.0,...,6.0,3.0,25.8,4.0,1.5,1.0,1.5,1.0,0.0,0.0
5306386,NaN,84248.6,7.0,102319.9,7.0,79129.0,7.0,77380.9,7.0,41533.2,...,64753.2,7.0,51225.5,7.0,30533.4,7.0,48505.3,7.0,36530.7,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386410462,NaN,75411.5,6.0,63501.0,7.0,325297.0,7.0,83850.5,7.0,38053.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90181601,NaN,41311.4,7.0,8216.1,7.0,113003.9,7.0,3423.2,7.0,8382.1,...,96.6,6.0,82.0,6.0,95.9,7.0,83.7,6.0,96.2,6.0
4376546,NaN,38831.4,7.0,38379.5,7.0,58408.4,7.0,73688.8,7.0,119858.4,...,153272.8,7.0,203108.2,7.0,81857.9,7.0,94701.9,7.0,70355.7,7.0
107438064,NaN,202673.4,7.0,253027.5,6.0,93564.0,7.0,10881.8,6.0,739.0,...,332.2,3.0,1823.7,4.0,35362.4,4.0,378.0,2.0,547.0,5.0
419866622,NaN,35356.0,5.0,48660.6,6.0,16214.0,5.0,45051.7,6.0,80274.7,...,0.0,0.0,25.2,2.0,0.0,0.0,0.0,0.0,16.8,1.0

In [152]:
df3 = pd.DataFrame(columns=[
    'uid',
    'month',
    'level',
    # 'danmu_count',
    'yc_gift_value',
    'visit_count',
])

with open('data/detail_350_audiences_2022-01_2022-06.jsonl', 'r', encoding='utf-8') as fin:
    for line in fin:
        item = json.loads(line)
        if item == {}:
            continue
        if item['hasData']:
            df3 = df3.append(
                [{
                    'uid': item['uid'],
                    'month': item['month'],
                    'level': item['level'],
                    'visit_count': float(item['totalItemVo']['visitCount']),
                    'yc_gift_value': float(item['totalItemVo']['yc_gift_value'])
                }])
        else:
            df3 = df3.append(
                [{
                    'uid': item['uid'],
                    'month': item['month'],
                    'level': item['level'],
                    'visit_count': 0.0,
                    'yc_gift_value': 0.0
                }])

In [153]:
df3

          uid    month level  yc_gift_value  visit_count
0   419265882  2022-01   150      2609409.0         75.0
0   419265882  2022-02   150      1729394.1         84.0
0   419265882  2022-03   150      1186965.2        179.0
0   419265882  2022-04   150       563951.9        112.0
0   419265882  2022-05   150       281657.0         96.0
..        ...      ...   ...            ...          ...
0    39203516  2022-02   145        32887.8         47.0
0    39203516  2022-03   145        48640.3         48.0
0    39203516  2022-04   145        26037.9         22.0
0    39203516  2022-05   145         2969.5         49.0
0    39203516  2022-06   146        71360.0        124.0

[2099 rows x 5 columns]

In [155]:
for uid in uids:
    tmp = df3[df3['uid'] == uid]
    df2.loc[uid]['level'] = int(tmp.iloc[0]['level'])
    for i in range(len(tmp)):
        df2.loc[uid, 'gift_value ' + tmp.iloc[i]['month']] = tmp.iloc[i]['yc_gift_value']
        df2.loc[uid, 'visit_count ' + tmp.iloc[i]['month']] = tmp.iloc[i]['visit_count']

D:\Anaconda3\lib\site-packages\pandas\core\series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [156]:
df2

,level,gift_value week 0 (2022-01-01_2022-01-07),gift_times week 0 (2022-01-01_2022-01-07),gift_value week 1 (2022-01-08_2022-01-14),gift_times week 1 (2022-01-08_2022-01-14),gift_value week 2 (2022-01-15_2022-01-21),gift_times week 2 (2022-01-15_2022-01-21),gift_value week 3 (2022-01-22_2022-01-28),gift_times week 3 (2022-01-22_2022-01-28),gift_value week 4 (2022-01-29_2022-02-04),...,gift_value 2022-02,visit_count 2022-02,gift_value 2022-03,visit_count 2022-03,gift_value 2022-04,visit_count 2022-04,gift_value 2022-05,visit_count 2022-05,gift_value 2022-06,visit_count 2022-06
uid,,,,,,,,,,,,,,,,,,,,,
252225541,147,92336.7,5.0,92651.1,7.0,129012.3,7.0,84385.2,7.0,27955.1,...,76195.3,57.0,100395.4,66.0,267594.0,88.0,96928.1,62.0,30228.8,55.0
414513159,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0
50868234,NaN,137633.9,6.0,57188.0,3.0,46288.6,5.0,11414.0,2.0,0.0,...,317203.0,55.0,980644.5,96.0,796211.9,81.0,196430.9,53.0,226951.1,41.0
15579152,NaN,1246.2,3.0,98.3,3.0,9.0,3.0,8.6,3.0,0.0,...,183.4,11.0,50.5,11.0,13.6,8.0,36.3,2.0,4.5,5.0
5306386,NaN,84248.6,7.0,102319.9,7.0,79129.0,7.0,77380.9,7.0,41533.2,...,245816.9,218.0,203447.8,128.0,164681.6,143.0,198516.8,198.0,98592.3,111.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386410462,NaN,75411.5,6.0,63501.0,7.0,325297.0,7.0,83850.5,7.0,38053.5,...,36255.3,8.0,1377.5,13.0,78630.4,12.0,0.0,14.0,0.0,0.0
90181601,NaN,41311.4,7.0,8216.1,7.0,113003.9,7.0,3423.2,7.0,8382.1,...,42232.9,13.0,62266.7,11.0,375.6,9.0,413.0,8.0,179.0,11.0
4376546,NaN,38831.4,7.0,38379.5,7.0,58408.4,7.0,73688.8,7.0,119858.4,...,229444.5,285.0,570227.3,334.0,238118.8,202.0,570185.1,408.0,108538.0,198.0
107438064,NaN,202673.4,7.0,253027.5,6.0,93564.0,7.0,10881.8,6.0,739.0,...,80790.2,69.0,385492.6,43.0,1266.2,20.0,38130.9,30.0,967.0,16.0
419866622,NaN,35356.0,5.0,48660.6,6.0,16214.0,5.0,45051.7,6.0,80274.7,...,216447.1,9.0,196713.1,42.0,26266.0,16.0,25.2,4.0,47.0,36.0

In [157]:
df2.to_excel('data/detail_350_2022-01_2022-06.xlsx')